body {margin: 0; padding: 0; background-image: url('bg.jpg'); }
#imSite {width: 992px; margin: 15px auto; text-align: left; }
#imHeader {height: 171px; }
#imBody {background-image: url('content.jpg'); background-repeat: repeat-y; background-position: left top; }
#imMenuMain {width: 134px; float: left; padding: 11px 0 0 27px; }
#imContent {width: 816px; float: left; margin-top: 1px; }
#imFooter {clear: both; height: 67px; background-image: url('bottom.jpg'); background-repeat: no-repeat; background-position: left top; }

